@model IEnumerable<KudVenkat.Models.City>


@{
    ViewBag.Title = "CheckBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckBox</h2>

@using (Html.BeginForm())
{
   

    @Html.EditorForModel()
    <br/>

    <input type="submit" value="Submit" />
}

