@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @Html.DropDownList("Departments",new List<SelectListItem>
        {
            new SelectListItem{Text="IT1",Value="1",Selected=true},
            new SelectListItem{Text="HR",Value="2"},
            new SelectListItem{Text="PayRoll",Value="3"},

        },"Select Department")

    @Html.DropDownList("Departments","Select Department")
    <br/>
    @Html.TextBox("CompanyName",(string)ViewBag.CompanyName)

</div>