@model KudVenkat.Models.City

@{
    ViewBag.Title = "tblCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>tblCity</h2>

@Html.HiddenFor(x => x.ID)
@Html.HiddenFor(x => x.Name)

@Html.CheckBoxFor(x => x.IsSelected)
@Html.DisplayFor(x => x.Name)





